body{
    background-color: #fafafa;
}

.card{
    background-color: #8d9e1d !important;
    border: thick double black !important;
}

.btn{
    background-color: #35344c !important;
    color: #dcd6cb !important;
}
